# Copyright 2011 Gabriele Sales <gabriele.sales@unipd.it>
#
#
# This file is part of graphite.
#
# graphite is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License
# version 3 as published by the Free Software Foundation.
#
# graphite is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License along with graphite. If not, see <http://www.gnu.org/licenses/>.

importMethodsFrom(AnnotationDbi, colnames, mget, revmap)

importMethodsFrom(graph, edgeData, "edgeData<-", "edgeDataDefaults<-",
                  edges, nodes)

importFrom(graphics, layout)

importClassesFrom(methods, ANY, data.frame, Date, vector)
importMethodsFrom(methods, show)
importFrom(methods, as, new)

importFrom(org.Hs.eg.db, org.Hs.egENSEMBLTRANS2EG, org.Hs.egENZYME,
           org.Hs.egSYMBOL, org.Hs.egUNIPROT)

importFrom(stats, na.omit)

importFrom(utils, installed.packages)


exportClasses(pathway)
exportMethods(show, nodes, edges)
export(convertIdentifiers, pathwayGraph, cytoscapePlot)
export(prepareSPIA, runSPIA)
export(runDEGraph)
export(runTopologyGSA)
