# Copyright 2011,2015 Gabriele Sales <gabriele.sales@unipd.it>
#
#
# This file is part of graphite.
#
# graphite is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License
# version 3 as published by the Free Software Foundation.
#
# graphite is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License along with graphite. If not, see <http://www.gnu.org/licenses/>.


import(methods)
import(BiocGenerics)
import(AnnotationDbi)

importFrom(rappdirs, user_cache_dir)
importFrom(stats, na.omit)
importFrom(utils, download.file, installed.packages)

importMethodsFrom(graph,
  edgeData, "edgeData<-", "edgeDataDefaults<-", edges, nodes)

importFrom(graphics, plot)


exportClasses(
  Pathways, PathwayList, DeprecatedPathwayList,
  Pathway)

# Re-exports
exportMethods(edgeData, "edgeData<-", "edgeDataDefaults<-", edges, nodes)

exportMethods(
  convertIdentifiers, plot,
  runClipper, runDEGraph, prepareSPIA, runTopologyGSA)

export(
  as.list.PathwayList, as.list.DeprecatedPathwayList,
  pathways, pathwayDatabases, cytoscapePlot, pathwayGraph,
  runClipperMulti, runDEGraphMulti, runSPIA, runTopologyGSAMulti)
